@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@theme {
  /* Background Colors */
  --color-bg-main: #0f0f0f;
  --color-bg-secondary: #1a1a1a;

  /* Text Colors */
  --color-text-main: #e2e8f0;
  --color-text-secondary: #94a3b8;

  /* UI / Accent Colors (Button/Border) */
  --color-accent: #334155;
  --color-btn-main: #f8fafc;
  --color-btn-text: #0f0f0f;
}
